/* COLORS */
/* MIXINS */
/* MAIN  STRUCTURE */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Signika", sans-serif;*/
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: white; }

h1 {
  font-size: 50px;
  margin-bottom: 20px; }

/* HOME */
#home {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: table;
  background-color: white;
  text-align: center; }
  #home h1 {
    color: #ffe512;
    margin-top: 0; }
  #home #homeInner {
    display: table-cell;
    vertical-align: middle; }
  #home .start {
    display: block;
    padding: 20px;
    width: 200px;
    margin: 0px auto;
    color: #595959;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffe512;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s; }
  #home .start:hover {
    background-color: #595959;
    color: #ffe512; }

/* NAV */
nav {
  position: fixed;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px 0px 0 0px;
  overflow-y: scroll;
  width: 200px;
  height: 100%;
  text-align: center; }
  nav img {
    width: 80%; }
  nav #apLogo {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 0 5px 0;
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: #38404c;
    width: 100%; }
    nav #apLogo img {
      height: 100%; }
  nav ul {
    margin: 40px 5px 0 10px;
    padding: 0; }
    nav ul li {
      list-style: none; }
      nav ul li a {
        /*text-align: left;*/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: block;
        text-decoration: none;
        padding: 10px 0 10px 0;
        color: #595959;
        font-size: 15px; }
    nav ul .activeLink a {
      /*border-right: 5px solid $yellow;*/
      color: #ffe512; }

#main_wrapper {
  position: absolute;
  left: 200px;
  top: 0;
  width: calc(100% - 200px);
  height: 100%;
  transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in; }

.mainsection {
  display: relative;
  display: table;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  text-align: center; }
  .mainsection .inner {
    display: table-cell;
    min-height: 100%;
    width: 100%;
    vertical-align: middle; }
  .mainsection .sectionHolder {
    clear: both; }
    .mainsection .sectionHolder section {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 20px;
      background-color: white;
      width: 150px;
      /*height: 300px;*/
      min-height: 130px;
      font-size: 14px;
      border-radius: 5px;
      display: inline-block;
      vertical-align: middle;
      color: #595959;
      margin: 10px 0 10px 0;
      transition: all 0.6s ease-in;
      -webkit-transition: all 0.6s ease-in;
      -moz-transition: all 0.6s ease-in;
      opacity: 0;
      transform: scale(0);
      -moz-transform: scale(0); }
    .mainsection .sectionHolder .smallSection {
      min-height: 70px; }
    .mainsection .sectionHolder .openModal {
      cursor: pointer;
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in; }
    .mainsection .sectionHolder .openModal:before {
      position: absolute;
      top: -10px;
      right: -5px;
      width: 15px;
      height: 15px;
      padding: 5px;
      border-radius: 15px;
      float: right;
      content: "\f00e";
      font-family: FontAwesome; }

.blankBox {
  background-color: transparent !important; }

.blankArrow {
  opacity: 0; }

.blankItem {
  display: inline-block;
  background-color: transparent !important;
  margin-right: 20px;
  padding: 0 !important; }

.blankItemArrows {
  display: inline-block;
  margin-left: 200px;
  width: 50px !important;
  /*background-color: red !important;*/
  padding-top: 40px !important; }
  .blankItemArrows .arrow {
    height: 55px; }

.subSection, .subSectionBlank {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  background-color: white;
  width: 150px;
  font-size: 14px;
  border-radius: 5px; }

.subSectionBlank {
  background-color: transparent;
  padding: 10px; }

.longLine {
  display: inline-block;
  /*width: 340px;*/
  width: 265px;
  height: 35px;
  margin-right: 75px;
  border-bottom: 2px solid white;
  text-align: right; }
  .longLine #downArrow {
    display: block;
    position: relative;
    top: 35px;
    left: 4px;
    color: white; }

.longLine1 {
  display: inline-block;
  /*width: 340px;*/
  width: 230px;
  height: 25px;
  margin-right: 115px;
  border-bottom: 2px solid white;
  margin-top: -15px !important;
  text-align: left;
  position: relative;
  top: -20px; }
  .longLine1 #downArrow {
    display: block;
    position: relative;
    top: 25px;
    left: -3px;
    color: white; }

.subLong {
  width: 200px;
  padding: 10px; }

#weirdBox {
  margin-left: -750px;
  margin-top: 10px;
  margin-bottom: 10px; }

.mainsection:nth-child(odd) {
  background-color: #ffe512;
  color: #595959;
  /*background-color: #232730;*/ }
  .mainsection:nth-child(odd) h1 {
    color: #595959;
    /*margin-top: 0;*/
    /*padding-top: 0;*/ }
  .mainsection:nth-child(odd) .openModal:hover {
    background-color: #595959;
    color: white; }
  .mainsection:nth-child(odd) .openModal:before {
    background-color: #595959;
    color: white;
    border: 2px solid #ffe512; }
  .mainsection:nth-child(odd) .arrow {
    display: inline-block; }

.mainsection:nth-child(even) {
  background-color: #595959;
  /*background-color: #191b20;*/ }
  .mainsection:nth-child(even) h1 {
    color: #ffe512;
    /*margin-top: 0;*/
    /*padding-top: 0;*/ }
  .mainsection:nth-child(even) .subSectionBlank {
    color: white; }
  .mainsection:nth-child(even) .arrow {
    display: inline-block;
    color: white;
    /*vertical-align: middle !important;*/
    /*margin-top: 70px;*/ }
  .mainsection:nth-child(even) .openModal:hover {
    background-color: #ffe512;
    color: #595959; }
  .mainsection:nth-child(even) .openModal:before {
    background-color: #ffe512;
    color: #595959;
    border: 2px solid #595959; }

/************* INDIVIDUAL SECTION *************/
#dhApi {
  float: left;
  width: 100%;
  clear: both;
  margin-left: 82px; }

#topArrow {
  clear: both; }

#geo {
  clear: both; }

#modal {
  position: fixed;
  /*display: table;*/
  display: none;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transform: scale(0);
  -moz-transform: scale(0); }
  #modal #modalToolbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px 20px;
    font-size: 36px;
    text-align: right;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: black;
    color: white; }
    #modal #modalToolbar i {
      cursor: pointer; }
    #modal #modalToolbar i:hover {
      transition: all 0.4s;
      -moz-transition: all 0.4s;
      transform: rotate(180deg);
      -moz-transform: rotate(180deg); }
  #modal #modalInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    overflow: scroll;
    height: 100%; }
    #modal #modalInner #modalImage {
      margin-top: 180px;
      margin-bottom: 20px;
      height: 100%;
      overflow: scroll; }
    #modal #modalInner iframe {
      margin-top: 110px;
      width: 100%;
      height: 100%;
      border: none; }
  #modal #modalLoader {
    font-size: 50px;
    -webkit-animation: rotating 0.6s linear infinite;
    -moz-animation: rotating 0.6s linear infinite;
    animation: rotating 0.6s linear infinite; }

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
