@media all and (max-width: 1024px) {


body
{
	overflow: scroll;
}
nav{
	display: none;
}

#main_wrapper
{
	left: 0;
	width: 100%;
}

.mainsection
{
	.sectionHolder
	{
		section
		{
			opacity: 1 !important;
			transform:scale(1) !important;
		-moz-transform:scale(0) !important;
		}
	}
}




}


 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
 {  
   /* IE10+ specific styles go here */ 
   #weirdBox
   {
   	margin-left:-450px;margin-top:10px;margin-bottom:10px;
   } 
}